/*
 * Kolomon Design System: buttons
 * This partial contains button styles.
 */
@use "../vars" as var;
@use "./typography" as typography;
@use "../modules/animations" as anim;

// Base styles for Kolomon buttons
%km-button {
    position: relative;
    border-radius: 2px;
    padding: 12px 16px;
    font-family: typography.$font-family-secondary;
    font-size: typography.$font-size-body-text;
    font-weight: bold;
    cursor: pointer;
    transition:
        border none,
        background-color .15s anim.$ease-in-out-circ;
}

// Button configuration
$button-focus-outline: 4px;

// Default button
$button-default-hover-background: darken(var.$button-default-background, 5%);

// These values are calculated automatically
$button-focus-border-width: $button-focus-outline / 2;
$button-focus-outer-offset: -1 * $button-focus-outline;

// This mixin will generate a set of css rules that will make the button react to being focused
@mixin button-focus-style(
    $background,
    $hover-background,
    $focus-outer-ring-background: $background,
    $focus-inner-ring-background: var.$body-text-white,
) {
    border: $button-focus-border-width solid $background;

    &:hover {
        border-color: $hover-background;
    }

    &:focus {
        border-color: $focus-inner-ring-background;

        &:after {
            content: "";
            position: absolute;
            width: calc(100% + #{$button-focus-outline});
            height: calc(100% + #{$button-focus-outline});
            top: $button-focus-outer-offset;
            left: $button-focus-outer-offset;
            border: $button-focus-border-width solid $focus-outer-ring-background;
        }
    }
}

.km-button {
    // (default)
    @include button-focus-style(var.$button-default-background, $button-default-hover-background);
    @extend %km-button;

    color: var.$body-text;
    background-color: var.$button-default-background;

    &:hover {
        background-color: $button-default-hover-background;
    }

    // TODO complete styles for other button types
    &--alt {
        // (alt)
        @extend %km-button;

        color: var.$body-text-white;
        background-color: var.$button-alt-background;
        border: none;
    }


    &--primary {
        // (primary)
        @extend %km-button;

        color: var.$body-text-white;
        background-color: var.$button-primary-background;
        border: none;
    }


    &--secondary {
        // (secondary)
        @extend %km-button;

        color: var.$body-text-white;
        background-color: var.$button-secondary-background;
        border: none;
    }
}
