@use "../../vars" as vars;
@use "../../modules/common" as common;
@use "../../design-system/typography" as typography;

.page-translation .content {
    margin-top: 25px;
}

/*
 * WORD BASE
 */
.word {
    display: grid;

    min-width: 750px;
    max-width: 80%;
    min-height: 500px;
    margin: 15px;

    h5 {
        margin: 2px 6px;
    }

    .word-name {
        grid-area: title;

        font-family: typography.$font-family-primary;
        font-size: typography.$font-size-h3;
        font-weight: 700;
        line-height: 1;
    }

    .word-description {
        grid-area: description;

        font-family: typography.$font-family-secondary;
        font-size: typography.$font-size-larger-body-text;
        font-weight: 500;

        text-indent: 1.5rem;
    }

    // Second column
    .word-links-container {
        grid-area: linkcontainer;

        // Defines a subgrid
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 1.6fr;
        grid-template-areas:
            "."
            "links";

        .word-links-inner-container {
            grid-area: links;
        }
    }

    .word-last-edit {
        grid-area: edits;
    }
}

/*
 * COMMON RELATED STYLES
 */
.word-links {
    margin-top: 6px;

    .link {
        display: grid;
        grid-template-columns: 0.35fr 1.5fr;
        grid-template-rows: 1.1fr 0.9fr;
        grid-template-areas:
            "icon title"
            "icon domain";
        margin: 3px 6px;

        font-family: typography.$font-family-secondary;
        font-size: typography.$font-size-body-text;
        font-weight: 500;
        text-decoration: none;
    }

    .link-icon {
        @include common.flex-row-center(true, true);
        grid-area: icon;
    }

    .link-title {
        grid-area: title;
    }

    .link-domain {
        grid-area: domain;

        font-size: typography.$font-size-alt-text;
        color: vars.$body-text-even-lighter;
    }
}

/*
 * ENGLISH WORD
 */
.word--english {
    grid-template-columns: 60% 40%;
    grid-template-rows: 0.6fr 1.8fr 1.1fr 1fr 0.5fr;
    grid-template-areas:
        "title linkcontainer"
        "description linkcontainer"
        "suggestions state"
        "related state"
        ". edits";

    .word-name {
        color: vars.$secondary-even-darker;
    }

    .word-suggestions-container {
        grid-area: suggestions;
    }

    .word-related-container {
        grid-area: related;
    }

    .word-state-container {
        grid-area: state;
    }
}

/*
 * SLOVENE WORD
 */
.word--slovene {
    grid-template-columns: 60% 40%;
    grid-template-rows: 0.6fr 2fr 1.3fr 0.6fr;
    grid-template-areas:
        "title linkcontainer"
        "description linkcontainer"
        "related ."
        ". edits";

    .word-name {
        color: vars.$primary-dark;
    }
}
